.card {
  width: 240px;
  padding: 15px;
  border-radius: 14px;
  background: #ffffff;
  box-shadow: 0 0 12px #d0d0d0;
}

img {
  width: 100%;
  border-radius: 10px;
}

.popular {
  color: green;
  font-weight: bold;
}

.trending {
  color: red;
  font-weight: bold;
}
