<div style="padding: 20px;">

  
  <h2 style="margin-bottom: 15px;">Список мов програмування (RxJS)</h2>

  
  <input
    type="text"
    placeholder="Пошук..."
    [(ngModel)]="searchText"
    (input)="onSearchChange()"
    style="padding: 6px; margin: 10px 0; width: 300px;"
  />


  <div *ngIf="filteredLanguages.length > 0" class="cards-grid"
       style="display:flex; flex-wrap:wrap; gap:16px;">
    
    <app-item-card
      *ngFor="let lang of filteredLanguages"
      [language]="lang"
      (click)="onSelected(lang)">
    </app-item-card>

  </div>

  
  <div *ngIf="filteredLanguages.length === 0" style="margin-top:20px;">
    <p><strong>Нічого не знайдено.</strong></p>
    <p>Спробуй змінити текст пошуку або стерти фільтр.</p>
  </div>

</div>
