.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.card.popular {
  background-color: #e6ffe6;
  border-color: #2ecc71;
}

img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
  border-radius: 6px;
}

.trending {
  margin-left: 10px;
  font-weight: bold;
  color: orange;
}
